@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.arr-welcome-message {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: radial-gradient(circle, rgba(59, 38, 0, 1) 0%, rgba(51, 51, 51, 1) 32%, rgba(0, 43, 85, 1) 59%, rgba(0, 107, 107, 1) 100%);
}

#welcome-message-h1 {
  margin: 0 20px 0 20px;
  font-size: 48px;
  font-weight: 700;
}

#welcome-message-p {
  margin: 0 20px 0 20px;
  font-size: 24px;
  line-height: normal;
}

.arr-navbar {
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 8px;
  background-color: #009999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arr-navbar img {
  height: 40px;
}

.arr-menu {
  border: none;
  outline: none;
  background: transparent;
}

.arr-navbar-elements {
  display: none;
  align-items: center;
  background-color: #006666;
  justify-content: space-between;
  flex-wrap: wrap;
  height: max-content;
}

.arr-search-bar {
  display: flex;
  align-items: center;
  margin: 8px auto;
  flex-wrap: wrap;
}

.arr-search-bar input {
  padding: 10px;
  border-radius: 100px;
  border: none;
  outline: none;
  width: 97vw;
}

.arr-search-bar button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -30px;
}

.arr-search-bar img {
  height: 18px;
}

.arr-buttons {
  display: flex;
  flex-direction: column;
  width: 90vw;
  gap: 6px;
  margin: 8px auto;
}

.arr-buttons a {
  text-decoration: none;
  color: #fff;
}
.arr-subbuttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.arr-subbuttons img {
  height: 30px;
}

.gallery {
  padding: 5vw;
  background-color: rgb(223, 223, 223);
}

.card {
  background-size: contain;
  background-repeat: no-repeat;
}

.card-title {
  font-size: 175%;
  font-weight: 600;
  text-shadow: 4px 4px 4px black;
}
.card-img-overlay {
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}


#gallery-item1 {
  background-image: url(../img/gallery/gaming-laptop.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#gallery-item2 {
  background-image: url(../img/gallery/consoles.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
#gallery-item3 {
  background-image: url(../img/gallery/gaming-monitor.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
#gallery-item4 {
  background-image: url(../img/gallery/tv.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
#gallery-item5 {
  background-image: url(../img/gallery/gaming-table.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#gallery-item6 {
  background-image: url(../img/gallery/gaming-chair.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#gallery-item7 {
  background-image: url(../img/gallery/gaming-keyboard.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#gallery-item8 {
  background-image: url(../img/gallery/gaming-mouse.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#gallery-item9 {
  background-image: url(../img/gallery/gaming-headset.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
#gallery-item10 {
  background-image: url(../img/gallery/videogames.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
#gallery-item11 {
  background-image: url(../img/gallery/gift-cards.png);
  background-size: contain;
  background-repeat: no-repeat;
}
